$body-bg: #fefefe;
$primary: #85cbad;
$secondary: #e8ae35;
$danger: #c07a6b;
$success: #cba844;
$warning: #fd8a5f;
$info: #e0a65c;
$dark: #3d4342;
$darkgray: #917e76;
$medgray: #a8a8a8;
$lightgray: #d0d0d0;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
